a[href*="//"]:not([href*="localhost"]):not([href*="github"]):not([href*="mega"]):not([href*="blogspot"]) {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 12px 12px;
}
.socialLink,
.purchaseLink {
  margin-right: 2.5px;
  margin-left: 2.5px;
}

/* feeds */
a[href*="\.xml"],
a[href*="\.rss"] {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-image: url(../links/rss.png);
  padding-left: 16px;
}

/* socials */
a[href*="youtube"] {
  background-image: url(../links/youtube.png);
  padding-left: 16px;
}
a[href*="twitch"] {
  background-image: url(../links/twitch.png);
  padding-left: 16px;
}
a[href*="pixiv"] {
  background-image: url(../links/pixiv.png);
  padding-left: 16px;
}
a[href*="nitter"] {
  background-image: url(../links/nitter.png);
  padding-left: 16px;
}
a[href*="twitter"] {
  background-image: url(../links/twitter.png);
  padding-left: 16px;
}
a[href*="nicovideo"] {
  background-image: url(../links/nicovideo.png);
  padding-left: 16px;
}

/* stores */
a[href*="fanbox"] {
  background-image: url(../links/fanbox.ico);
  padding-left: 16px;
}
a[href*="booth\.pm"] {
  background-image: url(../links/booth.ico);
  padding-left: 16px;
}
a[href*="rakuten"],
a[href*="kobo"] {
  background-image: url(../links/kobo.png);
  padding-left: 16px;
}
a[href*="amazon"] {
  background-image: url(../links/amazon.png);
  padding-left: 16px;
}
a[href*="bookwalker"] {
  background-image: url(../links/bookwalker.png);
  padding-left: 16px;
}
