

.series_list {
  display:flex;
  width:100%;
  flex-flow:row wrap;
  justify-content: center;
}

.series_card {
  height:fit-content;
  padding: 6px;
  background: var(--page-card);
  margin: 3px;
  color:white;
  position: relative;
}
.series_card > * {
  z-index: 0 !important;
}

.series_card_rssPopup img {
  padding: 2px;
  margin: auto;
  display: block;
}

.series_card_rssPopup {
  opacity: 0;
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0 !important;
  transition: .15s;
}

.series_card:hover .series_card_rssPopup,
.series_card:focus-within .series_card_rssPopup {
  translate: 0 -100%;
  z-index: 1;
  opacity: unset;
  background: var(--page-card) !important;
  display: inline-block;
  transition: .15s;
}

.series_card_bot {
  width:175px;
}
.series_card_top {
  position: relative;
  height:250px;
  width: 175px;
  overflow: hidden;
}

.series_card_container {
  position:relative;
}
.onImg_bl {
  width:100%;
  position:absolute;
  color:white;
  font-size:10px;
  background: #000000aa;
  padding:2px;
  bottom: 0px;
  left: 0px;
}
.onImgStatus{

}

.contactTable td,
.contactTable tr,
.statusTable td,
.statusTable tr {
  vertical-align: top;
}


/*
.series_card_top {
  clip-path: inset(250px 100% 100% 100%);
}
.series_card:hover .onImg_bl,
.series_card:hover .onImg_tr {
  opacity: 0;
  translate: 0 100%;
  transition: opacity .08s linear , .5s ease-in;
}
.series_card:not(:hover) .onImg_bl,
.series_card:not(:hover) .onImg_tr {
  translate: 0;
  transition: opacity .08s linear , .5s ease-in;
}*/

.series_card:hover .onImg_bl,
.series_card:hover .onImg_tr {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .08s, opacity .08s linear;
}
.series_card:not(:hover) .onImg_bl,
.series_card:not(:hover) .onImg_tr {
  visibility: visible;
  opacity: 1;
  transition: opacity .08s linear;
}

.onImg_tr {
  position:absolute;
  color:white;
  font-size:12px;
  background: #000000bb;
  top: 0px;
  right: 0px;
  padding:2px;
  overflow:hidden;
  white-space: nowrap;
}
.onImg_bl table {
  margin: 0px;
  border-spacing: 0px;
}

/* series page */

.tableAlign {
  width: calc(100% - 315px);
}


.typo {
  margin-top:-0.5em;
  margin-bottom:0.5em;
  font-size:60%;
  color:#6b6c6a;
}
#volumes {
  display: flex;
  flex-flow: row wrap;
}
.volumeDiv {
  /* min-width: 225px; */
  /* max-width: 48%; */
  position: relative;
  width: 48%;
  padding: 5px;
  margin-right: auto;
}

/* Details list */
.chapterListDiv {
  display: none;
}
.expandButton {
  all: unset;
  display: inline-block;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  position: relative;

}
.expandButton:focus-visible {
  outline: revert;
}
.expandButton:after {
  content:"+";
  display: inline-block;
  position: absolute;
  left: calc(0.5rem - 0.5ch);
}
/*
.expandButtonLabel {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.5ch;
  height: 2.5ch;
}
.expandButtonLabel:focus {
  background: red;
}
.expandButtonLabel:after {
  content:"+";
  display: inline-block;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 0.5ch);
}
*/
.expandButton:checked ~ .chapterListDiv {
  display: block;
}
.expandButton:checked ~ .chapterDiv {
  display: none;
}
.expandButton:checked:after {
  transform:rotate(45deg);
}
.chapterListEntry {
  padding:0.3em;
  margin-bottom: 0.3em;
  background: var(--code-bg);
}
.chapterListEntry > small {
  margin-top: 0.2em;
  display: block;
}


/* make volDivs with only one entry full width */
/* .volumeDiv:last-of-type:first-of-type {
    width: 96%;
} */

/* Grid where every odd last item spans two columns */
/* #volumes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
}
.volumeDiv {
  grid-column: span 1;
}
.volumeDiv:nth-child(odd):last-of-type {
  background: red;
  grid-column: span 2 !important;
} */

.volumeHeader {
  font-size:150%;
  font-weight:bold;
  line-height: 1.5;
}
.chapterDiv {
  display:flex;
  flex-flow: row wrap;
  /* display: grid;
  grid-template-columns: repeat(4, minmax(5em, 1fr)); */
}
.chapterDownload {
  line-height: 1.2;
  margin-bottom: 3px;
  /* margin-right:8px; */
  /* min-width: 4.75em; */
  min-width: 9.1ch;
  margin-right: 0.8ch;;
  position: relative;
}

.hash {
  display: none;
  position: absolute;
  background: #000;
  z-index: 5;
  padding:1px;
  top:0px;
  translate: 0 -95%;
  font-size: 65%;
  font-family: "Courier New", monospace !important;
  white-space: nowrap;
  pointer-events: none;
}
.mdfive {
  user-select: all;
  cursor: pointer;
}

.chapterDownload a:hover + .hash,
.chapterDownload a:focus + .hash {
  display: block !important;
}



.maintitle {
  font-size:20px;
}
.subtitle {
  font-size:70%;
}
.series_table {
  float:right;
  width:300px;
  margin-left:15px;
  vertical-align:top;
}
th {
  padding: 2px;
  border: 1px solid gray;
}
